src/test/resources/testapps/concurrent-io.xml
<?xml version="1.0" encoding="UTF-8"?>
<!-- 
#%L
  Mule PLC Connector Test Utilities
  %%
  Copyright (C) 2021 - 2022 (teslanet.nl) Rogier Cobben
  
  Contributors:
      (teslanet.nl) Rogier Cobben - initial creation
  %%
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
       http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  #L%
-->
<mule xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:plc="http://www.teslanet.nl/schema/mule/plc"
	xmlns:java="http://www.mulesoft.org/schema/mule/java"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.teslanet.nl/schema/mule/plc http://www.teslanet.nl/schema/mule/plc/current/mule-plc.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">


	<os:config name="ObjectStore_Config"
		doc:name="ObjectStore Config">
		<os:connection>
			<reconnection>
				<reconnect-forever frequency="500" />
			</reconnection>
		</os:connection>
	</os:config>
	<os:object-store name="read-responses"
		doc:name="Object store" config-ref="ObjectStore_Config"
		persistent="false" />
	<os:object-store name="write-responses"
		doc:name="Object store" config-ref="ObjectStore_Config"
		persistent="false" />
	<os:object-store name="subscribe-responses"
		doc:name="Object store" config-ref="ObjectStore_Config"
		persistent="false" />
	<os:object-store name="subscribe-events"
		doc:name="Object store" config-ref="ObjectStore_Config"
		persistent="false" />
	<os:object-store name="unsubscribe-responses"
		doc:name="Object store" config-ref="ObjectStore_Config"
		persistent="false" />

	<plc:config name="PLC_Config_Concurrent" timeout="20"
		timeoutUnits="SECONDS">
		<plc:connection connectionString="mock:test-plc"
			concurrentIo="1" />
	</plc:config>

	<plc:event-handler name="Event_handler" />

	<flow name="concurrent-ping">
		<!-- parallel-foreach collection="#[[ 1, 2, 3, 4 ]]" -->
		<plc:ping doc:name="Ping" config-ref="PLC_Config_Concurrent" />
		<!--/parallel-foreach -->
		<logger level="INFO" doc:name="Logger" message="#[payload]"
			category="nl.teslanet.mule.connectors.plc.test" />
	</flow>


	<flow name="concurrent-read">
		<foreach collection="#[[ 1, 2, 3, 4 ]]" doc:name="Four times">
			<async doc:name="Async">
				<flow-ref doc:name="read"
					doc:id="4c0396ef-81e9-4469-94dd-4dda91552fda"
					name="concurrent-read-single" />
				<logger level="INFO" doc:name="Logger" message="STORE read" category="nl.teslanet.mule.connectors.plc.test" />
				<logger level="INFO" doc:name="Logger" message="#[payload]" category="nl.teslanet.mule.connectors.plc.test" />
				<os:store doc:name="Store" key="#[vars.counter]" objectStore="read-responses">
					<os:value ><![CDATA[#[payload]]]></os:value>
				</os:store>
				<logger level="INFO" doc:name="Logger" message="STORED read" category="nl.teslanet.mule.connectors.plc.test" />
				<logger level="INFO" doc:name="Logger" message="#[payload]" category="nl.teslanet.mule.connectors.plc.test" />
			</async>
		</foreach>
	</flow>
	
	<flow name="concurrent-read-single" doc:id="a2270657-93e9-4559-8ca2-ff5c01374026">
		<plc:read doc:name="Read" config-ref="PLC_Config_Concurrent">
					<repeatable-in-memory-stream />
		            <reconnect count="5" frequency="500" />
					<plc:read-fields>
						<plc:read-field alias="one" address="address_one:BOOL" />
						<plc:read-field alias="two" address="address_two:BOOL" />
					</plc:read-fields>
				</plc:read>
	</flow>
	
	
 	<flow name="concurrent-read-retrieve" >
		<os:retrieve-all doc:name="Retrieve all" objectStore="read-responses" />
		<logger level="INFO" doc:name="Logger" message="RETRIEVED read" category="nl.teslanet.mule.connectors.plc.test" />
		<logger level="INFO" doc:name="Logger" message="#[sizeOf( payload )]" category="nl.teslanet.mule.connectors.plc.test" />
		<logger level="INFO" doc:name="Logger" category="nl.teslanet.mule.connectors.plc.test" />
	</flow>   
	
	<flow name="concurrent-write">
		<foreach collection="#[[ 1, 2, 3, 4 ]]" doc:name="Four times">
			<async doc:name="Async" >
				<flow-ref doc:name="concurrent-write-single" doc:id="918cf040-2745-4f5f-baff-baac2f13a69f" name="concurrent-write-single"/>
				<logger level="INFO" doc:name="Logger" message="STORE write" category="nl.teslanet.mule.connectors.plc.test" />
				<logger level="INFO" doc:name="Logger" message="#[payload]" category="nl.teslanet.mule.connectors.plc.test" />
				<os:store doc:name="Store" key="#[vars.counter]" objectStore="write-responses">
					<os:value ><![CDATA[#[payload]]]></os:value>
				</os:store>
				<logger level="INFO" doc:name="Logger" message="STORED write" category="nl.teslanet.mule.connectors.plc.test" />
				<logger level="INFO" doc:name="Logger" message="#[payload]" category="nl.teslanet.mule.connectors.plc.test" />
			</async>
		</foreach>
    </flow>

	<flow name="concurrent-write-single">
		<plc:write doc:name="Write" config-ref="PLC_Config_Concurrent">
			<repeatable-in-memory-stream />
		    <reconnect count="5" frequency="500" />
		    <plc:write-fields>
		    	<plc:write-field alias="one" address="address_one:BOOL" values="#[[ true ]]" />
		        <plc:write-field alias="two" address="address_two:BOOL" values="#[[ false ]]" />
		    </plc:write-fields>
		</plc:write>
    </flow>

 	<flow name="concurrent-write-retrieve" >
		<os:retrieve-all doc:name="Retrieve all" objectStore="write-responses" />
		<logger level="INFO" doc:name="Logger" message="RETRIEVED write" category="nl.teslanet.mule.connectors.plc.test" />
		<logger level="INFO" doc:name="Logger" message="#[sizeOf( payload )]" category="nl.teslanet.mule.connectors.plc.test" />
		<logger level="INFO" doc:name="Logger" category="nl.teslanet.mule.connectors.plc.test" />
	</flow>   
	
	<flow name="concurrent-subscribe">
		<foreach collection="#[[ 1, 2, 3, 4 ]]" doc:name="Four times">
			<async doc:name="Async" >
				<flow-ref doc:name="concurrent-subscribe-single" doc:id="23040e95-6188-4b19-be53-328d44eb64d9" name="concurrent-subscribe-single"/>
				<logger level="INFO" doc:name="Logger" message="STORE" category="nl.teslanet.mule.connectors.plc.test" />
				<logger level="INFO" doc:name="Logger" message="#[payload]" category="nl.teslanet.mule.connectors.plc.test" />
				<os:store doc:name="Store" key="#[vars.counter as String]" objectStore="subscribe-responses">
					<os:value ><![CDATA[#[payload]]]></os:value>
				</os:store>
				<logger level="INFO" doc:name="Logger" message="#['STORED subscribe ' ++ (vars.counter as String)]" category="nl.teslanet.mule.connectors.plc.test" />
				<logger level="INFO" doc:name="Logger" message="#[payload as String]" category="nl.teslanet.mule.connectors.plc.test" />
			</async>
		</foreach>
    </flow>
    
	<flow name="concurrent-subscribe-single">
		<plc:subscribe doc:name="Subscribe" config-ref="PLC_Config_Concurrent" eventHandler="Event_handler">
			<plc:subscribe-fields >
				<plc:subscribe-field alias="one" address="address_one:BOOL" />
		        <plc:subscribe-field alias="two" address="address_two:BOOL" />
		    </plc:subscribe-fields>
		</plc:subscribe>
    </flow>
    
    <flow name="concurrent-event-listener" doc:id="27c41814-6df2-4784-afd9-160a373c8e2b" >
        <plc:event-listener doc:name="Event listener" eventHandler="Event_handler"/>
        <logger level="INFO" doc:name="Logger" message="#['EVENT']" category="nl.teslanet.mule.connectors.plc.test"/>
        <logger level="INFO" doc:name="Logger" message="#[payload]" category="nl.teslanet.mule.connectors.plc.test"/>
		<os:store doc:name="Store" doc:id="7181d569-61f1-4184-a9e0-061bfc266813" key="#[correlationId]" objectStore="subscribe-events"/>
    </flow>

 	<flow name="concurrent-subscribe-retrieve" >
		<os:retrieve-all doc:name="Retrieve all" objectStore="subscribe-responses" />
		<logger level="INFO" doc:name="Logger" message="RETRIEVED subscribe" category="nl.teslanet.mule.connectors.plc.test" />
		<logger level="INFO" doc:name="Logger" message="#[sizeOf( payload )]" category="nl.teslanet.mule.connectors.plc.test" />
		<logger level="INFO" doc:name="Logger" category="nl.teslanet.mule.connectors.plc.test" />
	</flow>
	
 	<flow name="concurrent-event-retrieve" >
		<os:retrieve-all doc:name="Retrieve all" objectStore="subscribe-events" />
		<logger level="INFO" doc:name="Logger" message="RETRIEVED event" category="nl.teslanet.mule.connectors.plc.test" />
		<logger level="INFO" doc:name="Logger" message="#[sizeOf( payload )]" category="nl.teslanet.mule.connectors.plc.test" />
		<logger level="INFO" doc:name="Logger" category="nl.teslanet.mule.connectors.plc.test" />
	</flow>
	
	<flow name="concurrent-unsubscribe">
		<foreach collection="#[[ 1, 2, 3, 4 ]]" doc:name="Four times">
			<async doc:name="Async" >
				<flow-ref doc:name="concurrent-unsubscribe-single" doc:id="782b3ad2-d8ce-49ef-89e5-2a80b4fc0a30" name="concurrent-unsubscribe-single"/>
				<logger level="INFO" doc:name="Logger" message="STORE" category="nl.teslanet.mule.connectors.plc.test" />
				<logger level="INFO" doc:name="Logger" message="#[payload]" category="nl.teslanet.mule.connectors.plc.test" />
				<os:store doc:name="Store" key="#[vars.counter as String]" objectStore="unsubscribe-responses">
					<os:value ><![CDATA[#[payload]]]></os:value>
				</os:store>
				<logger level="INFO" doc:name="Logger" message="STORED" category="nl.teslanet.mule.connectors.plc.test" />
				<logger level="INFO" doc:name="Logger" message="#[payload as String]" category="nl.teslanet.mule.connectors.plc.test" />
			</async>
		</foreach>
    </flow>

	<flow name="concurrent-unsubscribe-single">
		<plc:unsubscribe doc:name="UnSubscribe" config-ref="PLC_Config_Concurrent">
			<plc:unsubscribe-fields >
				<plc:unsubscribe-field alias="one" />
		        <plc:unsubscribe-field alias="two" />
		    </plc:unsubscribe-fields>
        </plc:unsubscribe>
    </flow>

 	<flow name="concurrent-unsubscribe-retrieve" >
		<os:retrieve-all doc:name="Retrieve all" objectStore="unsubscribe-responses" />
		<logger level="INFO" doc:name="Logger" message="RETRIEVED" category="nl.teslanet.mule.connectors.plc.test" />
		<logger level="INFO" doc:name="Logger" message="#[sizeOf( payload )]" category="nl.teslanet.mule.connectors.plc.test" />
		<logger level="INFO" doc:name="Logger" category="nl.teslanet.mule.connectors.plc.test" />
	</flow>   

</mule>
